[Unit]
Description=Run Smart GE-Proton Updater on Boot and Daily

[Timer]
OnBootSec=1min
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
