if loadfont ${prefix}/fonts/unicode.pf2; then
    set gfxmode=auto
    set gfxpayload=keep
    insmod all_video
    insmod gfxterm
    insmod png
fi

terminal_output gfxterm

# Automatically load your custom startup logo/background
background_image /boot/grub/logo.png

# Set clean text colors so your menu pops against your logo
set menu_color_normal=white/black
set menu_color_highlight=black/light-cyan

menuentry "Custom Arch Gaming OS (UEFI)" {
    linux /arch/boot/x86_64/vmlinuz-zen archisobasedir=arch archisolabel=%ARCHISO_LABEL%
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-zen.img
}
