if loadfont ${prefix}/fonts/unicode.pf2; then
    set gfxmode=auto
    set gfxpayload=keep
    insmod all_video
    insmod gfxterm
fi

terminal_output gfxterm

menuentry "Custom Arch Gaming OS (UEFI)" {
    linux /arch/boot/x86_64/vmlinuz-zen archisobasedir=arch archisolabel=%ARCHISO_LABEL%
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-zen.img
}
